#third {
    font-weight: bolder;
    background-color: transparent;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15%;
}
body{
    background-color: #FFF8DC;
}