<html>
<title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</title>

<body>
  <div class="sticky-top">
    <nav id="fourth" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
        <img id="second" src="/assets/img/homeimg.png" alt="home-image">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">ABOUT-US</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>

<div id="first" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><strong> Oops!!!</strong></h1>
    <p class="lead">You are lost</p>
    <p class="lead">checkout menu bar may be that will help you to reach your destination page .. ):</p>
  </div>
</div>
</body>
</html>
