body{
height: 800px;
}

.div2 {

    width: 40%;
    height: 1%;
    top: 10px;
    border-radius: 30px;
    margin: auto;
  }



#create{

    border-radius:50px;
    width: 50%;
    margin-left: 22%;
  }

#sec{

      padding-bottom: 5%;
      padding-top: 3%;
  }


  